In [3]:
import akshare as ak

dd = ak.stock_zh_a_daily(symbol='sz000001',start_date = '20000101',end_date = '20210910', adjust="qfq")
dd

,date,open,high,low,close,volume,outstanding_share,turnover
0,2000-01-04,3.33,3.53,3.27,3.48,8216100.0,1.070910e+09,0.007672
1,2000-01-05,3.49,3.59,3.43,3.44,9399300.0,1.070910e+09,0.008777
2,2000-01-06,3.43,3.63,3.38,3.57,12022200.0,1.070910e+09,0.011226
3,2000-01-07,3.62,3.76,3.60,3.72,22934600.0,1.070910e+09,0.021416
4,2000-01-10,3.77,3.90,3.76,3.83,18521100.0,1.070910e+09,0.017295
...,...,...,...,...,...,...,...,...
5093,2021-09-06,17.93,18.60,17.78,18.45,151522556.0,1.940575e+10,0.007808
5094,2021-09-07,18.60,19.56,18.35,19.24,162234416.0,1.940575e+10,0.008360
5095,2021-09-08,19.24,19.55,19.10,19.23,102620105.0,1.940575e+10,0.005288
5096,2021-09-09,19.11,19.15,18.80,19.00,73950585.0,1.940575e+10,0.003811
5097,2021-09-10,18.89,20.77,18.84,20.57,231494528.0,1.940575e+10,0.011929