In [15]:
import akshare as ak

dd = ak.stock_zh_a_daily(symbol='sh688113',start_date = '20100101',end_date = '20210910', adjust="qfq")
dd

,date,open,high,low,close,volume,outstanding_share,turnover
0,2021-05-06,52.00,67.68,50.08,67.36,10737322.0,14558920.0,0.737508
1,2021-05-07,68.00,68.00,55.00,58.58,6692524.0,14558920.0,0.459685
2,2021-05-10,58.01,71.18,58.00,66.01,5345115.0,14558920.0,0.367137
3,2021-05-11,65.00,73.50,62.97,72.90,4805105.0,14558920.0,0.330045
4,2021-05-12,70.40,72.45,68.21,69.50,3321037.0,14558920.0,0.228110
...,...,...,...,...,...,...,...,...
86,2021-09-06,72.00,74.45,71.10,74.05,399099.0,14558920.0,0.027413
87,2021-09-07,73.21,75.80,73.03,74.00,435675.0,14558920.0,0.029925
88,2021-09-08,75.80,75.80,71.13,72.39,410319.0,14558920.0,0.028183
89,2021-09-09,71.16,72.87,71.16,72.36,227700.0,14558920.0,0.015640
90,2021-09-10,73.43,73.45,68.61,68.80,590155.0,14558920.0,0.040536